QWidget{
	outline:none;
	font-family:"Microsoft YaHei";
	font-size:13px;
	color:rgb(51,51,51);
}

QSplitter::handle{
    background-color: #eee8d5;
}

QToolTip
{
     background-color: #ddd6c1;
     padding: 3px;
     border-radius: 3px;
	 color:rgb(51,51,51);
	 border: 1px solid #c5c2b6;
}

QSpinBox {
    border-radius: 4px;
    height: 24px;
    min-width: 40px;
    border: 1px solid #d3af86;
    background: #ddd6c1;
}
QSpinBox:enabled {
    color: rgb(60, 60, 60);
}
QSpinBox:enabled:hover, QSpinBox:enabled:focus {
    color: rgb(51, 51, 51);
}
QSpinBox:!enabled {
    color: rgb(210, 210, 210);
    background: transparent;
}
QSpinBox::up-button {
    border-left: 1px solid #d3af86;
    width: 18px;
    height: 12px;
    border-top-right-radius: 3px;
    image: url(:/BRSystem/images/orange/arrow_up_white.svg);
}
QSpinBox::up-button:!enabled {
    background: transparent;
}
QSpinBox::up-button:enabled:hover {
    background: rgb(255, 255, 255, 30);
}
QSpinBox::down-button {
    border-left: 1px solid #d3af86;
    width: 18px;
    height: 12px;
    border-bottom-right-radius: 3px;
    image: url(:/BRSystem/images/orange/arrow_down_white.svg);
}
QSpinBox::down-button:!enabled {
    background: transparent;
}
QSpinBox::down-button:hover {
    background: rgb(255, 255, 255, 30);
}

QLabel{
	background-color:transparent;
}

QLabel#label_title{
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom:1px solid #c5c2b6;
}

QLabel#label_content{
	padding-left: 15px;
	padding-right:15px;
}

/*分隔器*/
QLabel#divider{
	background-color:#c5c2b6;
}

QLabel#checkIcon{
	border-image:url(:/BRSystem/images/radiobox_checked.png);
}

/*所有菜单样式*/
QMenuBar {
	background-color:#eee8d5;
	color: rgb(51,51,51);
}
 
QMenuBar::item {
    spacing: 50px;
    padding: 2px 10px;   
	border-width:1px 1px 0px 1px;
	border-color:transparent;
	border-style:solid;
    background: #eee8d5;
 }

 QMenuBar::item:selected {
     background: #d6d0bf;
 }

 QMenuBar::item:pressed {
    background: #d6d0bf;
	border-width:1px 1px 0px 1px;
	border-color:#c5c2b6;
	border-style:solid;
 }

QMenu{
	background-color:#eee8d5;
    border: 1px solid #cbc8bf;
}

QMenu::item {       
        color: rgb(51,51,51);
        background-color:#eee8d5;
}
		
QMenu::item:selected {
        background-color:#dfca88;
}	

/*中间界面样式*/
#widget_Center{
	/*border-color:rgb(197,194,182);border-width:1px;border-style:solid;*/
}

QTableView{
	background-color:#eee8d5;
    alternate-background-color: #eae0c0;
	border-width:1px;
	border-color:#c5c2b6;
	border-style:solid;
}

QTableView[dragEnter=true]{
    border-color: #007acc;
}

QTableView[dragEnter=false]{
    border-color: #c5c2b6;
}

QTableView::item{
    background:#eee8d5;    
}

QTableView::item:selected{
    background:#c5c2b6;    
}

QHeaderView::section {
    background: #eee8d5;
	border:0;
    border-bottom: 1px solid #c5c2b6;
    color: #333333;
    padding: 3px 0 3px 4px;
}

QHeaderView::section:hover{
	background: #eae0c0;
}

BRSystem{
	background-color:#eee8d5;
	
}

/*按钮样式*/
QPushButton {
    border: 1px solid #c5c2b6;
	background:#d8d4c4;
	border-radius: 3px;
    padding: 4px;
}

QPushButton:hover {
    background-color: #d6d0bf;
    border-color: #c5c2b6;
}

QPushButton:pressed {
    background-color: #d1cbb8;
    border-color: #c5c2b6;
}

QPushButton:disabled {
    color: #333333;
}

/*顶部界面*/
QPushButton#btn_changeSkin{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(":/images/images/icon_skin.png");
}

QPushButton#btn_setting{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(":/BRSystem/images/setting.png");
}

QPushButton#btn_min{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(":/images/images/min.png");
}

QPushButton#btn_close{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(":/images/images/close.png");
}

QPushButton#btn_max[isMaximized=false]{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(:/images/images/max.png);
}

QPushButton#btn_max[isMaximized=true]{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(:/images/images/normal.png);
}

/*多选按钮*/
QCheckBox{
    spacing: 5px;
}
 
QCheckBox::indicator{
    width: 15px;
    height: 15px;
}
 
QCheckBox::indicator:unchecked{
    image:url(:/BRSystem/images/checkbox_normal.png);
}
 
QCheckBox::indicator:checked{
    image:url(:/BRSystem/images/checkbox_selected.png);
}

/*单选控件*/
QRadioButton::indicator {
    width: 15px;
    height: 15px;
}

QRadioButton::indicator::unchecked {
    image: url(:/BRSystem/images/radioBox_unchecked.png);
}

QRadioButton::indicator::checked {
    image: url(:/BRSystem/images/radiobox_checked.png);
}

/**********分组框**********/
QGroupBox {
		font-size: 13px;
		border: 1px solid rgb(197,194,182);
		border-radius: 4px;
		margin-top: 10px;
}
QGroupBox::title {
		color: rgb(51,51,51);
		top: -12px;
		left: 10px;
}

/**********输入框**********/
QLineEdit {
	color:rgb(88,110,117);
    border-radius: 3px;
    min-height: 25px;
    border: 1px solid rgb(211,175,134);
    background: #ddd6c1;
	selection-background-color:rgb(190,180,151);
}
QLineEdit:enabled {
    color: rgb(88,110,117);
}
QLineEdit:enabled:hover, QLineEdit:enabled:focus {
    color: rgb(88,110,117);
}

QLineEdit:enabled:focus {
    color: rgb(88,110,117);
	border-color:rgb(0,122,204);
}

QLineEdit:!enabled {
    color: rgb(155, 155, 155);
}

/**********文本编辑框**********/
QTextEdit {
    border: 1px solid #23262c;
    color: rgb(175, 175, 175);
    background: #202226;
}

QPlainTextEdit {
	selection-background-color:rgb(190,180,151);
    border-radius: 3px;
    min-height: 25px;
    border: 1px solid rgb(211,175,134);
    background: rgb(221,214,193);
}
QPlainTextEdit:enabled {
    color:rgb(88,110,117);;
}
QPlainTextEdit:enabled:hover, QLineEdit:enabled:focus {
    color: rgb(88, 110, 117);
}

QPlainTextEdit:enabled:focus {
    color: rgb(88, 110, 117);
	border-color:rgb(0,122,204);
}

QPlainTextEdit:!enabled {
    color: rgb(155, 155, 155);
}

/**********下拉列表**********/
QComboBox {
        min-height: 25px;
        border-radius: 3px;
        border: 1px solid #d3af86;
        background: #ddd6c1;
		selection-background-color:#beb497;
}
QComboBox:enabled {
        color: #333333;
}
QComboBox:!enabled {
        color: rgb(155, 155, 155);
}

QComboBox::drop-down {
        width: 20px;
        border: none;
        background: transparent;
}
QComboBox::drop-down:hover {
        background: rgba(255, 255, 255, 30);
}
QComboBox::down-arrow {
    width: 18px;
    height: 12px;
    image: url(:/BRSystem/images/orange/arrow_down_white.svg);
}

QComboBox:on
{
    background-color: #eee8d5;
    selection-background-color: #beb497;
}

QComboBox QAbstractItemView {
        background: #eee8d5;
        outline: none;
		selection-background-color:#dfca88;
		border: 1px solid #cbc8bf;
}
QComboBox QAbstractItemView::item {
        min-height: 25px;
        color: #333333;
		background-color:#eee8d5;
}
QComboBox QAbstractItemView::item:selected {
        background: #dfca88;
}

/*查询控件样式*/
CSearchLineEdit{
	color:rgb(88,110,117);
	selection-background-color:rgb(190,180,151);
	background-color:rgb(221,214,193);
	padding-left:25px;padding-right:5px;
	border-style:solid;border-color:rgb(211,175,134);border-width:1px;
}

CSearchLineEdit:hover{
	color:rgb(88,110,117);
}

CSearchLineEdit:focus{
	color:rgb(88,110,117);
	border-color:rgb(0,122,204);
}

/*查询控件*/
QPushButton#btn_search{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
	border-image:url(:/images/images/search.png);
}

/*添加借条按钮*/
QPushButton#btn_add{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
	border-image:url(:/BRSystem/images/add.png);
}

/*添加日志按钮*/
QPushButton#btn_log{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
	border-image:url(:/BRSystem/images/log.png);
}

/*导出数据*/
QPushButton#btn_export{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
	border-image:url(:/BRSystem/images/export.png);
}

/*皮肤选择项选中按钮*/
QPushButton#checkIcon{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
	border-image:url(:/BRSystem/images/radiobox_checked.png);
}

/*刷新*/
QPushButton#btn_refresh{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
	border-image:url(":/BRSystem/images/refresh_dark.png");
}

/*手机号管理*/
QPushButton#btn_phone_manage{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border:none;
	background-color:transparent;
	image:url(:/BRSystem/images/phone-number.svg);
}

/*同步手机号*/
QPushButton#btn_sync_phone{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border:none;
	background-color:transparent;
	image:url(:/BRSystem/images/sync.svg);
}

OperationLog QPushButton#btn_import_phone{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border:none;
	background-color:transparent;
	image:url(:/BRSystem/images/icon-import.svg);
}

OperationLog QPushButton#btn_export_phone{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border:none;
	background-color:transparent;
	image:url(:/BRSystem/images/icon-export.svg);
}

OperationLog QPushButton#btn_add_phone{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border:none;
	background-color:transparent;
	image:url(:/BRSystem/images/add-list.svg);
}


/**********滚动条-水平**********/
QScrollBar:horizontal {
        height: 14px;
		border-top:1px solid rgb(197,194,182);
		border-right:1px solid rgb(197,194,182);
        background: transparent;
        margin-top: 0px;
        margin-bottom: 0px;
}
QScrollBar::handle:horizontal {
        height: 14px;
        min-width: 30px;
        background: rgb(192, 188, 176);
        margin-left: 0px;
        margin-right: 0px;
}
QScrollBar::handle:horizontal:hover {
        background: rgb(145, 143, 138);
}
QScrollBar::sub-line:horizontal {
        width: 0px;
        background: transparent;
        /*image: url(:/Black/arrowLeft);*/
        subcontrol-position: left;
}
QScrollBar::add-line:horizontal {
        width: 0px;
        background: transparent;
        /*image: url(:/Black/arrowRight);*/
        subcontrol-position: right;
}
QScrollBar::sub-line:horizontal:hover {
        background: rgb(68, 69, 73);
}
QScrollBar::add-line:horizontal:hover {
        background: rgb(68, 69, 73);
}
QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal {
        background: transparent;
}

/**********滚动条-垂直**********/
QScrollBar:vertical {
        width: 14px;
        background: transparent;
		border-left:1px solid rgb(197,194,182);
		border-bottom:1px solid rgb(197,194,182);
        margin-left: 0px;
        margin-right: 0px;
}
QScrollBar::handle:vertical {
        width: 14px;
        min-height: 30px;
        background: rgb(192, 188, 176);
        margin-top: 0px;
        margin-bottom: 0px;
}
QScrollBar::handle:vertical:hover {
        background: rgb(145, 143, 138);
}
QScrollBar::sub-line:vertical {
        height: 0px;
        background: transparent;
        /*image: url(:/Black/arrowTop);*/
        /*subcontrol-position: top;*/
}
QScrollBar::add-line:vertical {
        height: 0px;
        background: transparent;
        /*image: url(:/Black/arrowBottom);*/
        /*subcontrol-position: bottom;*/
}
QScrollBar::sub-line:vertical:hover {
        background: rgb(68, 69, 73);
}
QScrollBar::add-line:vertical:hover {
        background: rgb(68, 69, 73);
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
        background: transparent;
}

#contentWidget{
	border: 1px solid rgb(197,194,182);
	border-radius:3px;
	background: rgb(238,232,213);
}

#contentWidgetNoRadius{
	border-top: 1px solid rgb(197,194,182);
	border-bottom: 1px solid rgb(197,194,182);
	border-radius:0px;
	background:rgb(238,232,213);
}

BubbleContentWidget{
	qproperty-borderColor:rgb(197,194,182);
	qproperty-backgroundColor:rgb(238,232,213);
	qproperty-shadowColor:rgba(0,0,0,80);
}

StyledWidget{
	qproperty-backgroundColor:rgb(223, 202, 136);
	qproperty-shadowColor:rgba(0,0,0,80);
}

UiTop{
	qproperty-logo:url(:/BRSystem/images/logo_black.png);
}

UiLogin{
    min-width: 330px;
    max-width: 330px;
    min-height: 400px;
    max-height: 400px;
    background:transparent;
}

UiLogin #label_logo{
    min-width: 115px;
    max-width: 115px;
    min-height: 115px;
    max-height: 115px;
}

UiLogin #page_login,
UiLogin #page_register
{
    border: 1px solid #23262c;
	border-radius:3px;
	background:#ddd6c1;
}

UiLogin #btn_back{
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
    background-color:transparent;
    border:none;
    image:url(:/BRSystem/images/back.svg);
}

UiLogin #btn_login, UiLogin #btn_register{
    min-width: 210px;
    max-width: 210px;
    min-height: 30px;
	max-height: 30px;
}

UiLogin #registerBtn,#forgetPassword{
    border:none;
    min-width: 0px;
    min-height: 0px;
    background: transparent;
    color: cornflowerblue;
}

UiLogin #registerBtn:hover,#forgetPassword:hover{
    border:none;
    min-width: 0px;
    min-height: 0px;
    background: transparent;
    color: #a4beec;
}

UiCenter #groupBox_btn > QPushButton,
UiCenter #groupBox > QPushButton{
    min-height: 40px;
}

HFChargeView{
    min-width: 400px;
    max-width: 400px;
    min-height: 300px;
    max-height: 300px;
    background:transparent;
}

HFChargeView #btn_charge{
    min-width: 150px;
    max-width: 150px;
    min-height: 25px;
	max-height: 25px;
}

HFBroadbandDial{
    min-width: 400px;
    max-width: 400px;
    min-height: 300px;
    max-height: 300px;
    background:transparent;
}

HFBroadbandDial #btn_save{
    min-width: 150px;
    max-width: 150px;
    min-height: 25px;
	max-height: 25px;
}


