QWidget{
	outline:none;
	font-family:"Microsoft YaHei";
	font-size:13px;
	color:rgb(173,175,178);
}

QToolTip
{
     background-color: #202226;
     padding: 3px;
     border-radius: 3px;
	 color:rgb(173,175,178);
	 border: 1px solid #23262c;
}

QLabel{
	background-color:#16181c;
}

QLabel#label_content{
	padding-left: 15px;
	padding-right:15px;
}

QLabel#label_title{
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom:1px solid #23262c;
}

/*分隔器*/
QLabel#divider{
	background-color:#23262c;
}

/*所有菜单样式*/
QMenuBar {
	background-color:#16181c;
    color: white;
    max-height: 30px;
}

QSplitter::handle{
    background-color: #16181c;
}
 
QMenuBar::item {
    spacing: 50px;
    padding: 2px 10px;   
	border-width:1px 1px 0px 1px;
	border-color:transparent;
	border-style:solid;
    background: #16181c;
 }

 QMenuBar::item:selected {
     background: rgb(62,62,64);
 }

 QMenuBar::item:pressed {
    background: rgb(27,27,28);
	border-width:1px 1px 0px 1px;
	border-color:rgb(51,51,55);
	border-style:solid;
 }

QMenu{
	background-color:rgb(27,27,28);
    border: 1px solid rgb(51,51,55);
}

QMenu::item {       
        color: rgb(225,225,225);
        background-color:rgb(27,27,28);
}
		
QMenu::item:selected {
        background-color:rgb(51,51,52);
}	

/*菜单项*/
QToolButton {
    border: 0px solid #333333;
    margin: 1px;
}

QToolButton:hover {
    background-color: rgb(62,62,64);
}

QToolButton::menu-button {
    background: transparent;
    width: 16px;
}

QToolButton::menu-button:hover {
    background: transparent;
    width: 16px;
}

QToolButton:checked, QToolButton:pressed {
    background-color: rgb(0,122,204);
}

/*中间界面样式*/
#widget_Center{
	/*border-color:#23262c;border-width:1px;border-style:solid;*/
}

QTableView{
	background-color:rgb(22,24,28);
    alternate-background-color: rgb(26, 28, 32);
	border-width:1px;
	border-color:#23262c;
	border-style:solid;
}

QTableView[dragEnter=true]{
    border-color: #007acc;
}

QTableView[dragEnter=false]{
    border-color: #23262c;
}

QTableView::item{
    background:rgb(22,24,28);    
}

QTableView::item:selected{
    background:#2c2e32;    
}

QTableView::item:section{
    background:#232529;    
}

QHeaderView::section {
    background: #16181c;
	border:0;
    border-bottom: 1px solid #23262c;
    color: rgb(130,131,133);
    padding: 3px 0 3px 4px;
}

QHeaderView::section:hover{
	background: #232529;
}

BRSystem{
	background-color:#16181c;
	
}

/*按钮样式*/
QPushButton {
    border: 1px solid #333333;
	border-radius: 3px;
    padding: 4px;
    min-width: 65px;
    min-height: 25px;
}

QPushButton:hover {
    background-color: #333333;
    border-color: #444444;
}

QPushButton:pressed {
    background-color: #111111;
    border-color: #333333;
}

QPushButton:disabled {
    color: #333333;
}

/*顶部界面*/
QPushButton#btn_changeSkin{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(:/images/images/icon_skin.png);
}

QPushButton#btn_setting{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(:/BRSystem/images/setting.png);
}

QPushButton#btn_min{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(:/images/images/min.png);
}

QPushButton#btn_close{
	min-width: 0px;
    min-height: 0px;
    background-color:transparent;
	border-image:url(:/images/images/close.png);
}

QPushButton#btn_max[isMaximized=false]{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(:/images/images/max.png);
}

QPushButton#btn_max[isMaximized=true]{
	min-width: 0px;
    min-height: 0px;
	background-color:transparent;
	border-image:url(:/images/images/normal.png);
}

/*多选按钮*/
QCheckBox{
    spacing: 5px;
}
 
QCheckBox::indicator{
    width: 15px;
    height: 15px;
}
 
QCheckBox::indicator:unchecked{
    image:url(:/BRSystem/images/checkbox_normal.png);
}
 
QCheckBox::indicator:checked{
    image:url(:/BRSystem/images/checkbox_selected.png);
}

/*单选控件*/
QRadioButton::indicator {
    width: 15px;
    height: 15px;
}

QRadioButton::indicator::unchecked {
    image: url(:/BRSystem/images/radioBox_unchecked.png);
}

QRadioButton::indicator::checked {
    image: url(:/BRSystem/images/radiobox_checked.png);
}

/**********分组框**********/
QGroupBox {
		font-size: 13px;
		border: 1px solid #23262c;
		border-radius: 4px;
		margin-top: 10px;
}
QGroupBox::title {
		color: rgb(175, 175, 175);
		top: -12px;
		left: 10px;
}

/**********输入框**********/
QLineEdit {
	background: #202226;
    border-radius: 3px;
    min-height: 25px;
    border: 1px solid #23262c;
	selection-background-color:rgb(58,99,144);
}
QLineEdit:enabled {
    color: rgb(175, 175, 175);
}
QLineEdit:enabled:hover{
    color: rgb(230, 230, 230);
}
QLineEdit:!enabled {
    color: rgb(155, 155, 155);
}

QLineEdit:enabled:focus {
    color: rgb(230, 230, 230);
	border-color:rgb(0,122,204);
}

/**********文本编辑框**********/
QTextEdit {
    border: 1px solid #23262c;
    color: rgb(175, 175, 175);
    background: #202226;
}

QPlainTextEdit {
	selection-background-color:rgb(58,99,144);
    border-radius: 3px;
    min-height: 25px;
    border: 1px solid #23262c;
    background: #202226;
}

QPlainTextEdit:enabled {
    color: rgb(175, 175, 175);
}

QPlainTextEdit:enabled:hover{
    color: rgb(230, 230, 230);
}

QPlainTextEdit:!enabled {
    color: rgb(155, 155, 155);
}

QPlainTextEdit:enabled:focus {
    color: rgb(88, 110, 117);
	border-color:rgb(0,122,204);
}

/**********下拉列表**********/
QComboBox {
        min-height: 25px;
        border-radius: 3px;
        border: 1px solid rgb(35, 38, 44);
        background: rgb(32, 34, 38);
		selection-background-color:#3a6390;
}
QComboBox:enabled {
        color: rgb(175, 175, 175);
}
QComboBox:!enabled {
        color: rgb(155, 155, 155);
}

QComboBox::drop-down {
        width: 20px;
        border: none;
        background: transparent;
}
QComboBox::drop-down:hover {
        background: rgba(255, 255, 255, 30);
}
QComboBox::down-arrow {
        image: url(:/BRSystem/images/orange/down_arrow.png);
}

QComboBox:on
{
    background-color: #333333;
    selection-background-color: #3a6390;
}

QComboBox QAbstractItemView {
        background: #333333;
        outline: none;
		selection-background-color:#16181c;
		border: 1px solid #23262c;
}
QComboBox QAbstractItemView::item {
        min-height: 25px;
        color: #afafaf;
		background-color:#333333;
}
QComboBox QAbstractItemView::item:selected {
        background: #333334;
        color: rgb(230, 230, 230);
}

/*查询控件样式*/
CSearchLineEdit{
	color:gray;
	selection-background-color:#3a6390;
	background-color:#202226;
	padding-left:25px;padding-right:5px;
	border-style:solid;border-color:#23262c;border-width:1px;
}

CSearchLineEdit:hover{
	color:rgb(230, 230, 230);
	border-color:#007acc;
}

/*查询控件*/
QPushButton#btn_search{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
	border-image:url(:/images/images/search.png);
}

/*添加借条按钮*/
QPushButton#btn_add{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
	border-image:url(:/BRSystem/images/add.png);
}

/*添加日志按钮*/
QPushButton#btn_log{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
	border-image:url(:/BRSystem/images/log.png);
}

/*导出数据*/
QPushButton#btn_export{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
	border-image:url(:/BRSystem/images/export.png);
}

/*刷新*/
QPushButton#btn_refresh{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border-radius:0px;
	background-color:transparent;
    border-image:url(":/BRSystem/images/refresh_dark.png");
}

/*手机号管理*/
QPushButton#btn_phone_manage{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border:none;
	background-color:transparent;
	image:url(:/BRSystem/images/phone-number.svg);
}

/*同步手机号*/
QPushButton#btn_sync_phone{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border:none;
	background-color:transparent;
	image:url(:/BRSystem/images/sync.svg);
}

OperationLog QPushButton#btn_import_phone{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border:none;
	background-color:transparent;
	image:url(:/BRSystem/images/icon-import.svg);
}

OperationLog QPushButton#btn_export_phone{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border:none;
	background-color:transparent;
	image:url(:/BRSystem/images/icon-export.svg);
}

OperationLog QPushButton#btn_add_phone{
	min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
	padding:0px;
	border:none;
	background-color:transparent;
	image:url(:/BRSystem/images/add-list.svg);
}

/**********滚动条-水平**********/
QScrollBar:horizontal {
        height: 14px;
        background: transparent;
		border-top:1px solid rgb(35,38,44);
		border-right:1px solid rgb(35,38,44);
        margin-top: 0px;
        margin-bottom: 0px;
}
QScrollBar::handle:horizontal {
        height: 14px;
        min-width: 30px;
        background: #444549;
        margin-left: 0px;
        margin-right: 0px;
}
QScrollBar::handle:horizontal:hover {
        background: rgb(80, 80, 80);
}
QScrollBar::sub-line:horizontal {
        width: 0px;
        background: transparent;
        /*image: url(:/Black/arrowLeft);*/
        subcontrol-position: left;
}
QScrollBar::add-line:horizontal {
        width: 0px;
        background: transparent;
        /*image: url(:/Black/arrowRight);*/
        subcontrol-position: right;
}
QScrollBar::sub-line:horizontal:hover {
        background: rgb(68, 69, 73);
}
QScrollBar::add-line:horizontal:hover {
        background: rgb(68, 69, 73);
}
QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal {
        background: transparent;
}

/**********滚动条-垂直**********/
QScrollBar:vertical {
        width: 14px;
        background: transparent;
		border-left:1px solid rgb(35,38,44);
		border-bottom:1px solid rgb(35,38,44);
        margin-left: 0px;
        margin-right: 0px;
}
QScrollBar::handle:vertical {
        width: 14px;
        min-height: 30px;
        background: rgb(68, 69, 73);
        margin-top: 0px;
        margin-bottom: 0px;
}
QScrollBar::handle:vertical:hover {
        background: rgb(80, 80, 80);
}
QScrollBar::sub-line:vertical {
        height: 0px;
        background: transparent;
        /*image: url(:/Black/arrowTop);*/
        subcontrol-position: top;
}
QScrollBar::add-line:vertical {
        height: 0px;
        background: transparent;
        /*image: url(:/Black/arrowBottom);*/
        subcontrol-position: bottom;
}
QScrollBar::sub-line:vertical:hover {
        background: rgb(68, 69, 73);
}
QScrollBar::add-line:vertical:hover {
        background: rgb(68, 69, 73);
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
        background: transparent;
}

#contentWidget{
	border: 1px solid #23262c;
	border-radius:3px;
	background:#16181c;
}

#contentWidgetNoRadius{
	border-top: 1px solid #23262c;
	border-bottom: 1px solid #23262c;
	border-radius:0px;
	background:#16181c;
}

BubbleContentWidget{
	qproperty-borderColor:#23262c;
	qproperty-backgroundColor:#16181c;
	qproperty-shadowColor:black;
}

StyledWidget{
	qproperty-backgroundColor:rgb(44, 46, 50);
	qproperty-shadowColor:black;
}

CUiTop{
    qproperty-logo:url(:/BRSystem/images/logo.png);
    min-height: 38px;
    max-height: 38px;
}

UiLogin{
    min-width: 330px;
    max-width: 330px;
    min-height: 400px;
    max-height: 400px;
    background:transparent;
}

UiLogin #label_logo{
    min-width: 115px;
    max-width: 115px;
    min-height: 115px;
    max-height: 115px;
}

UiLogin #page_login,
UiLogin #page_register
{
    border: 1px solid #23262c;
	border-radius:3px;
	background:#16181c;
}

UiLogin #btn_back{
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
    background-color:transparent;
    border:none;
    image:url(:/BRSystem/images/back.svg);
}

UiLogin #btn_login, UiLogin #btn_register{
    min-width: 210px;
    max-width: 210px;
    min-height: 30px;
    max-height: 30px;
}

UiLogin #registerBtn,#forgetPassword{
    border:none;
    min-width: 0px;
    min-height: 0px;
    background: transparent;
    color: cornflowerblue;
}

UiLogin #registerBtn:hover,#forgetPassword:hover{
    border:none;
    min-width: 0px;
    min-height: 0px;
    background: transparent;
    color: rgb(164, 190, 236);
}

UiCenter #groupBox_btn > QPushButton,
UiCenter #groupBox > QPushButton{
    min-height: 40px;
}
